#painel-wmf{
    display: block;
    position: fixed;
    z-index: 1000;
    top: 4px;
    right: 5px;
    padding: 10px;
    color: #000;   
}
#back{
    opacity: 0.8;
    background: #fff;
    width: 100%;
    height: 100%;
    border-radius: 40px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}
#painel-wmf *{
    display: inline-block;
}
#painel-wmf button{
    width: 25px;
    height: 25px;
    border: 0;
    background: 0;
    font-size: 20px;
    cursor: pointer;
}
/*#painel-wmf button:last-child{
    float:right;
}*/
#painel-wmf span{
    font-size: 16px;
    padding: 0 4px;
}